---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import NoteRow from "@/components/NoteRow.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const notes = await getCollection("notes", ({ data }) => !data.draft);
  return paginate(getSortedPosts(notes), { pageSize: SITE.notesPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`Notes | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Notes">
    <ul>
      {page.data.map(data => <NoteRow {...data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
