---
import { SOCIALS } from "@/constants";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div
  class:list={[
    "flex-wrap justify-center gap-x-6 gap-y-2 text-sm",
    { flex: centered },
  ]}
>
  {
    SOCIALS.map(social => (
      <a href={social.href} title={social.linkTitle} class="link-underline">
        {social.name}
      </a>
    ))
  }
</div>
