---
export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={["inline-block", size === "sm" ? "my-1 me-4" : "mx-1 my-3 me-5"]}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "border-b border-accent/40 whitespace-nowrap text-foreground transition-colors hover:border-accent hover:text-accent focus-visible:no-underline",
      size === "sm" ? "text-sm" : "text-lg",
    ]}
  >
    #{tagName}
  </a>
</li>
